@using ToSic.Cre8magic.Breadcrumbs
@inherits ToSic.Cre8magic.Breadcrumbs.Components.MagicBreadcrumbBase;

@code {

    protected override MagicBreadcrumbSettings Customize(MagicBreadcrumbSettings settings) =>
        settings.Designer != null
            ? settings
            : settings with { Designer = new MagicBreadcrumbDesignerBs5() };

}

<nav aria-label="breadcrumb">
    <ol class='@BreadcrumbKit.Pages.Classes("ol")'>
        @foreach (var item in BreadcrumbKit.Pages)
        {
            <li class='@item.Classes("li")'>
                @* TODO: IMPROVE HasLink / UseLink, etc. *@
                @if (item.IsActive)
                {
                    <span class='@item.Classes("span")' aria-current="page">@item.Name</span>
                }
                else
                {
                    <a href="@item.Link" class='@item.Classes("a")'>@item.Name</a>
                }
            </li>
        }
    </ol>
</nav>
