@using ToSic.Cre8magic.Act
@using ToSic.Cre8magic.Breadcrumbs
@using ToSic.Cre8magic.Spells
@inject IMagicAct MagicAct

@code {
    [CascadingParameter] public required PageState PageState { get; set; }
}

<h1>MagicBreadcrumb with Code to Loop Items</h1>

<h2>Settings directly in Code</h2>

@{
    var breadcrumbKit = MagicAct.BreadcrumbKit(new MagicBreadcrumbSpell
    {
        PageState = PageState,
        WithActive = true,
        WithHome = false,
    });
}
<ol class="breadcrumb">
    @foreach (var item in breadcrumbKit.Pages)
    {
        <li class='breadcrumb-item'>
            <a href="@item.Link">@item.Name</a>
        </li>
    }
</ol>

<h2>Settings from Spells Book</h2>

@* Setup Code to ensure it uses the settings we want to provide for the demo *@

@{
    MagicAct.UseSettingsProvider(p => p.Breadcrumbs.SetDefault(new()
    {
        WithHome = false,
        WithActive = true
    }));
}

@* Breadcrumb using the settings from the spells book *@
@{
    // Note: equivalent to ... = MagicAct.BreadcrumbKit(PageState, new() { SettingsName = "default" });
    breadcrumbKit = MagicAct.BreadcrumbKit(new() { PageState = PageState });
}
<ol class="breadcrumb">
    @foreach (var item in breadcrumbKit.Pages)
    {
        <li class='breadcrumb-item'>
            <a href="@item.Link">@item.Name</a>
        </li>
    }
</ol>

<h2>With Non-Default names</h2>
                    
@{
    var spellsBook = new MagicSpellsBook
    {
        Breadcrumbs = new()
        {
            {
                "productsBreadcrumb", new()
                {
                    WithHome = false,
                    WithActive = true
                }
            }
        }
    };
    MagicAct.UseSpellsBook(spellsBook);
}

@* Breadcrumb using the settings from the spells book *@
@{
    breadcrumbKit = MagicAct.BreadcrumbKit(new() { PageState = PageState, SettingsName = "productsBreadcrumb" });
}
<ol class="breadcrumb">
    @foreach (var item in breadcrumbKit.Pages)
    {
        <li class='breadcrumb-item'>
            <a href="@item.Link">@item.Name</a>
        </li>
    }
</ol>