@inherits ComponentBase;
@*
File Purpose:       Show a standard horizontal menu - usually on the top of the page
Recommendations:    
    - Usually you won't change this file, but change the configuration in the JSON
    - If you do plan to change this file, we recommend making a copy with a new name and add that name to the `Menu.razor`
Nice to know:
    - This menu create Bootstrap standard menus with dropdown functionality for sub-pages
    - Calls itself recursively if there are sub-pages
    - All the class attributes for `ul`, `li` and `a` come from configurations
    - The configurations are smart, so they change the class depending on active etc.
    - The `a` tag with the label is written in a way so there are no additional spaces
*@
@code
{
    [Parameter, EditorRequired]
    public required IMagicMenuKit MenuKit { get; set; }
}
@if (MenuKit.Pages.Any())
{
    <ul class='@MenuKit.Pages.Classes("ul")'>
        @foreach(var menuPage in MenuKit.Pages)
        {
            <li class='@menuPage.Classes("li")'>
                <a class='@menuPage.Classes("a")' href='@menuPage.Link' target='@menuPage.Target'
                   data-bs-toggle='@(menuPage is { HasChildren: true, IsClickable: false } ? "dropdown" : "")'
                   >@menuPage.Name</a>

                @if (menuPage.HasChildren)
                {
                    <MagicMenuHorizontal MenuKit="@MenuKit.Kit(menuPage)"></MagicMenuHorizontal>
                }
            </li>
        }
        @* Debug Information as things can get complex *@
        <MagicMenuDebug MenuKit="@MenuKit"></MagicMenuDebug>
    </ul>
}
