@using ToSic.Cre8magic.Menus
@inherits ThemeControlBase;

@code{
    [Parameter, EditorRequired]
    public required IMagicMenuKit MenuKit { get; set; }
}
<ul class='@MenuKit.Pages.Classes("li")'>
    @foreach (var menuPage in MenuKit.Pages)
    {
        <li class='@menuPage.Classes("li")'>
            <a class='@menuPage.Classes("a")' href="@menuPage.Link" target="@menuPage.Target">@menuPage.Name</a>
            @if (menuPage.HasChildren)
            {
                <span class='@menuPage.Classes("span")'></span>
                <BasicMenu MenuKit="@MenuKit.Kit(menuPage)" />
            }
        </li>
    }
</ul>


