@using ToSic.Cre8magic.Menus
@using ToSic.Cre8magic.Pages
@inherits ThemeControlBase;

@code{
    [Parameter, EditorRequired]
    public IMagicMenuKit MenuKit { get; set; }
}

@RenderMenu(MenuKit.Page, MenuKit.Pages)

@* Function creating a menu *@
@code
{
    /// <summary>
    /// Render a Menu - and recursively render sub-menus
    /// </summary>
    /// <param name="pages"></param>
    /// <returns></returns>
    RenderFragment RenderMenu(IMagicPage current, IEnumerable<IMagicPage> pages) =>
        @<ul class='@current.Classes("li")'>
            @foreach (var menuPage in pages)
            {
                <li class='@menuPage.Classes("li")'>
                    <a class='@menuPage.Classes("a")' href="@menuPage.Link" target="@menuPage.Target">@menuPage.Name</a>
                    @if (menuPage.HasChildren)
                    {
                        <span class='@menuPage.Classes("span")'></span>
                        @* **RECURSION** *@
                        @RenderMenu(menuPage, menuPage.Children)
                    }
                </li>
            }
        </ul>;
 
}