@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Pages
@inherits ThemeControlBase
@inject IMagicPageService PageSvc

<h1>Breadcrumbs Test 2024-11-14</h1>
<p>
    Demonstrate various ways to use the breadcrumb service
</p>
<h2>Breadcrumb just list</h2>
<ol>
    @foreach(var bc in PageSvc.GetBreadcrumb(PageState))
    {
        <li>@bc</li>
    }
</ol>

<h2>Breadcrumb links</h2>
<ol>
    @foreach(var bc in PageSvc.GetBreadcrumb(PageState))
    {
        <li>
            <a href="@bc.Link" Target="@bc.Target">@bc.Name</a>
        </li>
    }
</ol>

<h2>Breadcrumb to Home</h2>
<ol>
    @foreach(var bc in PageSvc.GetBreadcrumb(PageState,new() { Active = PageSvc.GetHome(PageState) } ))
    {
        <li>
            <a href="@bc.Link" Target="@bc.Target">@bc.Name</a>
        </li>
    }
</ol>
