@using Oqtane.UI
@using ToSic.Cre8magic.ComponentsBs5.Debug
@using ToSic.Cre8magic.Languages
@using ToSic.Cre8magic.Settings
@inject IMagicHat MagicHat
@*
File Purpose:       Show the Language Navigation / Selector
Recommendations:    -
Nice to know:       
    - The languages available are handed in from the Header file
      ...if the list is empty, it will use the site definition
      ...otherwise it will use the values specified for order/label of languages
*@
@code
{
    [CascadingParameter] public required PageState PageState { get; set; }

    // The language kit, available after ParameterSetAsync
    public IMagicLanguageKit? LanguageKit { get; private set; }

    [Parameter]
    public MagicLanguageSettings? Settings { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        // Load defined language list. It changes unless the page is reloaded, so we can cache it on this control
        LanguageKit ??= await MagicHat.LanguageKitAsync(Settings.With(PageState));
    }
}
@if (LanguageKit is { Show: true })
{
    <ul class='@(LanguageKit.Designer.Classes("ul") ?? "theme-languages")'>
        @foreach (var lang in LanguageKit.Languages)
        {
            <li class='@LanguageKit.Designer.Classes("li", lang)'>
                <a href="#" @onclick="@(async _ => await LanguageKit.SetCultureAsync(lang.Culture))" title="@lang.Description">@lang.Label</a>
            </li>
        }
    </ul>
    <MagicDebug Target="@LanguageKit"></MagicDebug>
}
