@using ToSic.Cre8magic.ComponentsBs5.Debug
@inherits MagicMenuRoot
@*
File Purpose:       Add a menu based on the parameter 'ConfigName'
Recommendations:    -
Nice to know:
    - Inherits from a base class that prepares everything
    - The <ThemePackageSettings> in the @inherits tells the system what will provide the settings
    - Prepares the menu structure and then renders using one of various menu controls
    - Can be configured directly on the tag, or can load a config from JSON
      The exact properties are defined in the base class
    - If necessary, you can create another type of menu and just add it to the list below
    - WIP: Later it will also be able to load a config from the page/theme settings
*@

@* Special Debugging *@
@if (true)
{
    var debug = MenuKit.Settings.Debug;
    <div class="alert alert-info">
        @* ConfigName: @(Menu?.Settings.ConfigName) <br/> *@
        HasChildren: @(MenuKit.Pages.Any()) - @MenuKit.Pages.Count() <br />
        Debug: @debug?.Allowed / @debug?.Anonymous / @debug?.Admin <br/>
        @* This: @Menu?.Name (@Menu?.Link) <br/> *@
        Variant: @MenuKit.Variant <br/>
        Ul-Classes: @MenuKit.Design.Classes("ul") <br />
        Li-Classes: @MenuKit.Design.Classes("li") <br />
        A-Classes: @MenuKit.Design.Classes("a") <br />
    </div>
}

@* Show the desired menu - in this setup we have 2 options. If you need more, change the conditions to check for Menu?.Settings.Template *@
@if (MenuKit.IsVariant("vertical"))
{
    <MagicMenuVertical MenuKit="@MenuKit"></MagicMenuVertical>
}
else
{
    <MagicMenuHorizontal MenuKit="@MenuKit" Pages="@MenuKit.Pages"></MagicMenuHorizontal>
}
@if (MenuKit?.Pages?.Any() == false)
{
    @* Debug Information in cases where the menu doesn't even show *@
    <MagicMenuDebug MenuKit="@MenuKit" Standalone="true"></MagicMenuDebug>
}
@if (true)
{
    <div>End-Of-Menu</div>
}